.comWidth{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
/* 
    topBar
*/
.topBar{
    height: 31px;
    background-color: #f7f7f7;
    line-height: 31px;
}
.collection{
    background: url(../images/icon/黄色五角星.png) left center no-repeat;
    padding-left: 19px;
    font-weight: bold;
}
.topBar a:hover{
    color: black;
}
/* 
    logo
*/
.logoBar{
    height: 85px;
    background-color: #1d7ad9;
}
.logo{
    padding-top: 13px;
    padding-left: 41px;
}
/* 
    搜索框
*/
.search_box {
    width: 430px;
    padding-top: 23px;
    margin-left: 183px;
}
.search_text{
    width: 350px;
    height: 35px;
    padding: 0 5px;
}
.search_btn{
    width: 70px;
    height: 35px;
    background-color: #ff8c00;
    font-family: "Microsoft YaHei","微软雅黑";
    color: white;
}
/* 
    购物车
*/
.shopCar{
    width: 145px;
    height: 35px;
    background-color: #ff8c00;
    color: white;
    margin-top: 23px;
    font-family: "Microsoft YaHei","微软雅黑";
    margin-right: 59px;
}
.shopText{
    line-height: 35px;
    width: 87px;
    height: 100%;
    background: url(../images/icon/购物车图标.png) 10px center no-repeat;
    border-right: #e27a00 solid 1px;
    text-indent: 40px;
}
.shopNum{
    line-height: 35px;
    width: 56px;
    height: 35px;
    background: url(../images/icon/箭头.png)  33px center  no-repeat;
    text-indent: 21px;
}
/* 
    导航栏
*/
.navBox{
    height: 35px;
    background-color: #1369c0;
    color: white;
}
.shopClass{
    width: 190px;
    position: relative;
}
.shopClass h3{
    line-height: 35px;
    text-align: center;
}
.shopClass i{
    width:  11px;
    height: 7px;
    overflow: hidden;
    background: url(../images/icon/三角箭头.png) left center no-repeat;
    display: inline-block;
    margin-left: 11px;
}
.nav , .shopClass{
    font-family: "Microsoft YaHei","微软雅黑";
}
.nav{
    line-height: 35px;
}
.nav li{
    float: left;
}
.nav a{
    color: white;
    display: inline-block;
    padding: 0 35px;
}
.nav .active{
    background-color: #4593fd;
}
/* 
    商品弹出列表
*/
.shopClass_show{
    background-color: #4593fd;
    position: absolute;
    left: 0;
    top: 35px;
    width: 100%;
}
.shopClass_item{
    padding: 14px 10px; 
    border-top: #5aa1fe solid 1px;
    border-bottom: #3487f2 solid 1px;
}
.shopClass_item dt{
    height: 24px;
    background: url(../images/icon/箭头\ 副本\ 4.png) right center no-repeat;
}
.shopClass_item a{
    color: white;
}
.shopClass_item .b{
    font: 14px/1 "Microsoft YaHei","微软雅黑";
}
.shopClass_item .alink{
    width: 48px;
    height: 20px;
    background: url(../images/icon/圆圈.png) left center no-repeat;
    text-align: center;
    display: inline-block;
    line-height: 20px;
    text-decoration: underline;
}

/* shopClass_item active状态 */
.shopClass_show :hover{
    background-color: pink;
    cursor: pointer;
}
.shopClass_show a:hover{
    color: black;
}

/* 
    商品展示列表
*/
.shopClass_list{
    width: 568px;
    height: 382px;
    border: #cccccc solid 1px;
    position: absolute;
    left: 190px;
    top: 35px;
}
.shopClass_cont{
    padding: 0 20px;
}
.shopList_item{
    padding: 9px 0;
    border-bottom: #cccccc solid 1px;
}
.shopList_item dt{
    color: #4b87d9;
    font-weight: bold;
    line-height: 24px;
    height: 24px;
}
.shopList_item dd{
    line-height: 24px;
    padding-left: 68px;
    margin-top: -24px;
}
.shopList_item a{
    margin-right: 12px;
}
.shopList_item .a1{
    color: #ff8c00;
}
.shopList_Links1{
    background-color: #1b82e9;
    width: 96px;
    height: 20px;
    margin-left: 20px;
    margin-top: 15px;
    padding-top: 8px;
    padding-left: 8px;
}
.shopList_Links1 a{
    color: white;
}
.shopList_Links2{
    background-color: #1b82e9;
    width: 96px;
    height: 20px;
    margin-left: 12px;
    margin-top: 15px;
    padding-top: 8px;
    padding-left: 8px;
}
.shopList_Links2 a{
    color: white;
}
/* 
    banner部分
*/
.banner{
    margin-bottom: 15px;
}
.banner_bar{
    float: right;
    position: relative;
    overflow: hidden;
}
.imgBox{
    position: absolute;
    left: 0;
    top: 0;
}
.imgBox li{
    float: left;
}
.imgBox img{
    display: block;
}
.banner_big, .banner_big img{
    width: 811px;
    height: 326px;
}
.banner_big  .imgBox{
    width: 1622px;
    height: 326px;
}
.banner_small , .banner_small img{
    width: 190px;
    height: 400px;
}
.banner_small .imgBox{
    width: 190px;
    height: 400px;
}

.imgNum{
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 100%;
    text-align: center;
}
.imgNum a{
    width: 20px;
    height: 5px;
    background-color: white;
    margin-right: 5px;
    display: inline-block;
}
.imgNum a:hover{
    background-color: orange;
}
.imgNum .active{
    background-color: orange;
}
/* 
    商品标题
*/
.shopTit{
    height: 44px;
    font-family: "Microsoft YaHei","微软雅黑";
    line-height: 44px;
    margin-bottom: 15px;
}
.shopTit h3{
    font-size: 24px;
    float: left;
}
.icon{
    width: 44px;
    height: 44px;
    background: url(../images/shopIcon.png) left top no-repeat;
    float: left;
    padding-left: 15px;
}
.more{
    float: right;
    font-family: "宋体";
}
/*
    商品列表
*/
.shopList .leftArea{
    width: 190px;
}
.shopList .rightArea{
    width: 808px;
    border: #999999 solid 1px;
    border-bottom: #ff7201 solid 3px;
    height: 396px;
    overflow: hidden;
}
.banner_bar_small{
    width: 190px;
    height: 400px;
    float: left;
    position: relative;
    overflow: hidden;
}
.banner_bar_small .imgBox{
    width: 190px;
    height: 400px;
    position: absolute;
    left: 0;
    top: 0;
}
.banner_bar_small .imgBox li{
    float: left;
}
.banner_bar_small .imgBox img{
    width: 190px;
    height: 400px;
    display: block;
}
/* 
    商品列表右侧
*/
.shopList_top{
    margin-right: -4px;
}
.shop_item{
    width: 202px;
    height: 279px;
    border-right: #999999 solid 1px;
    border-bottom: #999999 solid 1px;
}
.shop_img{
    width: 100%;
    height: 218px;
    text-align: center;
    padding-top: 46px;
}
.shop_item h3{
    text-align: center;
    margin-top: -44px;
}
.shop_item p{
    text-align: center;
    margin-top: 6px;
    color: coral;
}
/* 
    商品小列表
*/
.shop_item_small{
    width: 202px;
    border-right: #999999 solid 1px;
    height: 116px;
}
.smallImg{
    width: 95px;
    height: 95px;
    text-align: center;
}
.smallImg img{
    padding-top: 28px;
}
.shop_item_text {
    padding-top: 28px;
}
.shop_item_text p{
    color: #ff7300;
}
.shop_item_text h3{
    font-family: "Microsoft YaHei","微软雅黑";
    line-height: 40px;
}
.shopList_bottom{
    margin-right: -4px;
}
/* 
    食品酒水区
*/
.down{
    margin-top: 15px;
}